<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="sp-bootstrap.min.css" media="screen">
    <script type="text/javascript" src="script.js"></script>
    <title>Spotify Study</title>
  </head>
  <body>
    <!--
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"
          href="index.html"><span>Acrostify</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <a href="https://www.spotify.com/ca/download"
            class="btn btn-primary navbar-btn navbar-right">Get Spotify</a>
        </div>
      </div>
    </div>
    -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id='top' class="jumbotron jumbotron-inverse jumbotron-hero sp-jumbotron-custom-inverse">
      <div class="container-fluid" id="jumbo-dialog">
        <h1 id='ttitle' >Spotify Study</h1>
        <p id='ttext'>
          Curated music playlist for studying.
        </p>
        <div class="container">
            <div class="row">
                <!--
                <div class="col-sm-3">
                    <p class="lead "> Genre: </p>
                    <div id="genre-container">
                        <select id='genre' data-placeholder="Choose a genre"
                              class="form-control input-md" tabindex="2">
                        </select>
                    </div>
                </div>
                -->
                <div id="subjectbox" class="col-sm-12"> <!-- original value: col-sm-8 -->
                    <p class="lead"> Subject: </p>
                    <input id='message' type="text"
                        class="form-control input-md" placeholder="Type your subject">
                </div>
            </div>
        </div>
        <p><a class="btn btn-primary btn-lg" id='go' role="button">Search</a></p>
      </div>
    </div>

    <div class="container" id="results">
        <div id='buttons'>
            <span id="play-buttons" class="btn-group">
              <button id='playPrev' class="btn btn-default"><i class="glyphicon glyphicon-backward"></i></button> </li>
              <button id='playPlay' class="btn btn-default"><i class="glyphicon glyphicon-play"></i></button> </li>
              <button id='playNext' class="btn btn-default"><i class="glyphicon glyphicon-forward"></i></button> </li>
            </span>
            <button id='save' class="btn btn-primary pull-right">Save Playlist to Spotify</button>
        </div>

        <table id="song-table" class="table table-bordered table-striped table-hover">
            <thead> </thead>
            <tbody id="trows"> </tbody>
        </table>
    </div>

    <!--
    <div id="footer">
      <div class="container text-center">
            <p class="text-muted">
                Powered by <a href="http://spotify.com">Spotify</a> and
                <a href="http://the.echonest.com">The Echo Nest</a>.
                Created by <a href="http://twitter.com/plamere">@plamere</a>.
            </p>

      </div>
    </div>
    -->
  </body>
</html>
